@import './Variables.scss';

.about-me {
  .my-avatar {
    z-index: 1;
    width: 15vw;
    height: 45vh;
    border-radius: $sl;
  }
}



@media only screen and (max-width: 425px) {

  .about-me {
    .my-avatar {
      width: 220px !important;
      height: 300px !important;

    }

    .about-work-img {
      width: 48px;
      height: 48px;
    }
  }
}