@import './Variables.scss';
.about-me{

 .me{
  // .avatar-bg{
  //  z-index: -1;
  //  width: 16vw;
  //  height: 40vh;
  //  left: 7vw;
  //  bottom: -4vh;
  //  border-bottom-left-radius: $sl;
  //  border-top-left-radius: $sl;
  //  border-bottom-right-radius: $sl;
  //  border-top-right-radius: $sl;
  //  background-color: $bulSky;
  // }
  // .avatar-bg2{
  //  z-index: -1;
  //  width: 10vw;
  //  height: 30vh;
  //  right: 12vw;
  //  bottom: 20vh;
  //  border-bottom-right-radius: $sl;
  //  border-top-right-radius: $sl;
  //  border-top-left-radius: $sl;
  //  background-color: $bulSky;
  // }



  .my-avatar{
   z-index: 1;
   width: 15vw;
   height: 45vh;
   border-radius: $sl;
   // border: 0.5px solid #ffff;
  }
 }

 .about{
  // width: 60;

  // .about-work-img{
  //  width: 48px;
  //  height: 48px;
  // }
 }

}

@media only screen and (max-width: 425px){

 .about-me{
   .my-avatar{
   width: 220px !important;
   height: 300px !important;

  }
 }
}