@import './Variables.scss';
@import './ProjectsS5.scss';

.bottom-circle {
  width: 140px;
  height: 140px;
  right: 0%;
  bottom: 0%;
  clip-path: circle(90% at 99% 100%);
  background-color: #3B3486;

}

.bottom-circle-full {
  background-color: #FFC93C;
  opacity: 0.8;
  clip-path: circle(50% at 50% 50%);
}

.card-shadow {
  box-shadow:
    0 20.8px 20.4px hsl(238, 100%, 71%, 0.2),
}

;