
@import './Variables.scss';
@import './StackHeaderS2.scss';
@import './AboutMeS3.scss';
@import './TechnicalSkillsS4.scss';
@import './HeroSectionS1.scss';
@import './ProjectsS5.scss';
@import './ContactWithUs.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;



.transition-all {
  transition: all 0.3s ease-in-out;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

*{
 margin: 0;
 padding: 0;
}


body{
 font-family: $font-grotesk;
	background-color: #ffffffef;
	color: $navy;
	scroll-behavior: none;
}

h1{                                                                                         
 font-size:  $lg;
 font-weight: $font-w-bold;
}
h2{
 font-size: $lm;
}

.app{
	overflow-x: hidden !important;
}
.sections{
	padding: 0 $lg;
}
.sec-h-w{
	width: 100vw;
	height: 100vh;
}
.HeroSection{
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

.HeroSection{
	h2,h1{
		line-height: $lg; 
	}
}

#slider_width{
	// width: 100px;
}

@media only screen and (max-width: 425px){
	h1{
 font-size:  $mx;
 font-weight: $font-w-bold;
}
h2{
 font-size: $mx;
}
.HeroSection{
	h2,h1{
		line-height: normal; 
	}
}

	.sections{
	padding: 0 $s;
}
}








