

// .stack-header{
// 	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
// }

.stack-header{
	width: 100%;
	height: 16vh;
	.stack-card-title{
		z-index: 100;
		bottom:-30%;
		left: 24%;
	}


.stack-shadow{
		width: 80px;
		height:80px;
		z-index: 0;
		top:98%;
		left: 17%;
		border-radius: 50%;
		background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(1.9em);
}

.stack-shadow-two{
	z-index: 0;
		width: 80px;
		height:80px;
		top:98%;
		right: 17%;
		border-radius: 50%;
		background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(1.9em);
}
	.stack-list{
		background: rgb(2,0,36);
		background: linear-gradient(160deg,hsla(238, 100%, 71%, 0.521),rgba(235, 230, 69, 0.411)150%);
		bottom: -16vh;
		height: 100%;
		width: 60%;
		

  .skills{
				background-color: #FBFCFC;
				width: 100%;
				height: 28vh;
		}
	}
}

.stack-header-bottom-section{
	background-color: #ffffff;
	height: 30vh;
}





@media only screen and (max-width: 768px){
.stack-header{
	width: 100vw;
	height: 10vh;

  .stack-shadow{
   width: 80px;
   height:80px;
   z-index: 0;
   left:86%;
   top: 70vh;
   border-radius: 50%;
   background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(2.5em);
  }

  .stack-shadow-two{
    width: 80px;
    height:80px;
    z-index: 0;
    left: 0;
    top: 70vh;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(2.5em);
  }
   .stack-list{
   background-color: #FBFCFC;
   bottom: -16vh;
   height: 90vh;
   width: 90vw;
  }
	}

}



@media only screen and (max-width: 425px){
	
	.stack-header{
	width: 100vw;
	height: 10vh;
		.stack-skill-icon{
		width: 48px;
		height: 48px;
	}
  .stack-shadow{
		width: 80px;
		height:80px;
		z-index: 0;
		bottom:20vh;
		right: 0;
		border-radius: 50%;
		background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(2.5em);
}

	.stack-shadow-two{
		z-index: 0;
		bottom: 40vh;
		left: 0;
		width: 80px;
		height:80px;
		border-radius: 50%;
		background-image: linear-gradient(to bottom right,hsl(233, 75%, 57%), 	hsl(238, 100%, 71%));filter: blur(2.5em);
}
		.stack-list{
		background-color: #FBFCFC;
		bottom: -16vh;
		height: 20vh;
		width: 90vw;
	}
	}
}
