@import './Variables.scss';

.TechnicalSkillsS4 {

  .skills-icon {
    width: 48px;
    height: 48px;
  }

  .skills-list:nth-child(1) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(2) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(4) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(5) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(7) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(8) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(10) {
    border-right: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(11) {
    border-right: 0.2px solid $borderColor;
  }

  // border top side
  .skills-list:nth-child(4) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(5) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(6) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(7) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(8) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(9) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(10) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(11) {
    border-top: 0.2px solid $borderColor;
  }

  .skills-list:nth-child(12) {
    border-top: 0.2px solid $borderColor;
  }

  .stack-shadow {
    width: 60px;
    height: 60px;
    z-index: -1;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, hsl(233, 75%, 57%), hsl(238, 100%, 71%));
    filter: blur(6.5em);
  }

  .assets {
    width: 450px;
    height: 450px;
  }


}

@media only screen and (max-width: 425px) {
  .TechnicalSkillsS4 {

    .skills-icon {
      width: 32px;
      height: 32px;
    }
  }
}