@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500;1,600&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,700&display=swap');
// font family 
$font-League : 'League Spartan', sans-serif;
$font-Montserrat : 'Montserrat', sans-serif;
$font-Open-Sans: 'Open Sans', sans-serif;
$font-Roboto-Condensed : 'Roboto Condensed', sans-serif;

// width & height 
$xxl : 8rem;
$xl : 6rem;
$ll : 5rem;
$lg : 4rem;
$lm : 3.5rem;
$lx : 3rem;
$mm : 3.5rem;
$ml : 3rem;
$md : 2.5rem;
$mx :2rem;
$m :1.5rem;
$s : 1rem;
$sl : 0.5rem;
$sm : 0.375rem;
$sd : 0.25rem;

// font-weight 
$font-w-bolder : 900;
$font-w-bold  : 800;
$font-w-semiBold : 700;
$font-w-medium : 600;
$font-w-normal : 500;
$font-w-thin : 400;

// color
$white: #ffffff;
$blue:#3F52E3;
$bulSky: #696eff;
$borderColor: 	hsl(238, 100%, 71%, 0.5);
$purple :#696eff;
$navy : #3B3486;